{% extends "base.html" %}

{% block title %}{{ pet.name }} - Details{% endblock %}

{% block content %}
  <div class="container pet-detail-container">
    <div class="row valign-wrapper">
      <!-- Image Section -->
      <div class="col s12 m5 center-align">
        {% if images %}
        <img class="responsive-img pet-detail-image" src="{{ url_for('static', filename=images[0].replace('static/', '')) }}" alt="{{ pet.name }}">
        {% else %}
        <img class="responsive-img pet-detail-image" src="{{ url_for('static', filename='images/placeholder.png') }}" alt="No image available">
        {% endif %}
      </div>

      <!-- Text Section -->
      <div class="col s12 m7">
        <h3 class="pet-name">{{ pet.name }}</h3>
        <h5><strong>Age:</strong> {{ pet.age }}</h5>
        <h5><strong>Description:</strong></h5>
        <p class="pet-description">{{ pet.description | replace('\n', '<br>') | safe }}</p>             
        
        <div class="center-align">
          <a class="waves-effect waves-light btn" href="{{ url_for('adopt_pet', pet_id=pet['id']) }}">
            <i class="material-icons left">pets</i> Adopt Me!
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
